
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    color: rgb(250, 243, 243);
    background-color: rgb(59, 59, 95);
    font-family:'Helvetica','Verdana','Monaco',sans-serif;
}

.aplicacion-tareas, .titulo, h2{
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


  .titulo{
   width: 100%;
   height: 150px;
  
  }

h1{
    font-style:italic;
    font-weight:bold;
    color:black;
    font-size: 30px;
  }

  h2{
    width: 100%;
    height: 100px;
    background-color: rgb(129, 142, 129);
  
  }
  
  .listadetareas-principal{
    margin-top: 5px;
    background-color: rgb(129, 142, 129);
    width: 600px;
    min-height: 500px; 
    border:2px solid  rgb(129, 142, 129);
    border-radius: 10px;
  }